*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

.button {
  position: relative;
  color: white;
  background: linear-gradient(to left top, #6dcbf3, #abfcf7);
  border: 0.1rem solid transparent;
  border-radius: 5rem;
  width: 23.5rem;
  padding: 1.5rem;
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right top, rgba(187, 232, 252, 0.3), rgba(197, 247, 243, 0.3));
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  opacity: 0;
  transition: opacity 0.3s;
}
.button:hover::after {
  cursor: pointer;
  opacity: 1;
}
@media (min-width: 1140px) {
  .button {
    width: 28rem;
    padding: 1.7rem;
    font-size: 1.6rem;
  }
}
.button__subscription {
  width: 100%;
  max-width: 25rem;
}
@media (min-width: 810px) {
  .button__subscription {
    max-width: 20rem;
    padding: 1.3rem;
    font-size: 1.4rem;
  }
}

.fylo__header {
  background-color: #202a3c;
}
.fylo__logo {
  width: 9rem;
}
@media (min-width: 810px) {
  .fylo__logo {
    width: 18rem;
  }
}
.fylo__logo--footer {
  width: 19rem;
  margin-bottom: 5rem;
}
@media (min-width: 1140px) {
  .fylo__logo--footer {
    width: 9rem;
  }
}
.fylo__list {
  display: flex;
  gap: 2rem;
}
@media (min-width: 810px) {
  .fylo__list {
    gap: 6rem;
  }
}
.fylo__link {
  font-size: 1.3rem;
  color: #d9d9d9;
  transition: all 0.3s;
}
@media (min-width: 810px) {
  .fylo__link {
    font-size: 1.6rem;
  }
}
@media (min-width: 1140px) {
  .fylo__link:hover {
    color: white;
    text-decoration: underline;
  }
}
.fylo__main {
  background-color: #181f2a;
}
.fylo__title {
  line-height: 1.5;
  font-size: clamp(2.3rem, 3vw, 4rem);
}
@media (min-width: 1140px) {
  .fylo__title {
    max-width: 75rem;
    margin: 0 auto;
  }
}
.fylo__title--secondary {
  margin: 3rem 0 1rem 0;
  font-size: 1.8rem;
}
.fylo__title--tertiary {
  max-width: 50rem;
  margin: 0;
}
.fylo__title--quaternary {
  font-size: clamp(1.8rem, 2.5vw, 3.2rem);
}
.fylo__subtitle {
  font-size: clamp(1.4rem, 1.7vw, 2rem);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  padding: 0 2rem;
  margin: 2rem 0 3rem 0;
}
@media (min-width: 768px) {
  .fylo__subtitle {
    max-width: 62rem;
    padding: 0;
    margin: 3rem auto 3rem auto;
  }
}
.fylo__subtitle--secondary {
  margin: 0;
  padding: 0 1rem;
  max-width: 50rem;
}
@media (min-width: 1140px) {
  .fylo__subtitle--secondary {
    padding: 0;
    max-width: 38rem;
    font-size: 1.4rem;
  }
}
.fylo__subtitle--tertiary {
  padding: 0;
  margin: 2rem 0;
}
@media (min-width: 1140px) {
  .fylo__subtitle--tertiary {
    font-size: 1.6rem;
  }
}
.fylo__subtitle--quaternary {
  font-size: clamp(1.3rem, 1.3vw, 1.4rem);
  max-width: 68rem;
  margin: 1rem auto 4rem auto;
}

.accessible__section {
  background-color: #202a3c;
}
.accessible__picture {
  position: relative;
  margin-bottom: 3rem;
  z-index: 1;
}
@media (min-width: 810px) {
  .accessible__picture {
    max-width: 72rem;
    margin: 0 auto 3rem;
  }
}
.accessible__picture--bg {
  margin-top: -34rem;
  margin-bottom: 30rem;
}
@media (min-width: 1140px) {
  .accessible__picture--bg {
    margin-top: -30rem;
    margin-bottom: 0;
  }
}
.accessible__wrapper {
  position: relative;
  z-index: 1;
}

.suggestions__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.suggestions__icon {
  width: 6rem;
}

@media (min-width: 1140px) {
  .productive__picture {
    width: 48%;
  }
}
.productive__info-wrapper {
  padding: 0 1rem;
  text-align: left;
}
@media (min-width: 1140px) {
  .productive__info-wrapper {
    width: 45%;
  }
}
.productive__link {
  color: #abfcf7;
}
.productive__link--wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  border-bottom: 0.1rem solid #65e2d9;
}
.productive__link--wrapper:hover {
  border-bottom: 0.1rem solid white;
}
.productive__link--wrapper:hover .productive__link {
  color: white;
}
.productive__link--wrapper:hover .productive__arrow {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.productive__arrow {
  width: 2rem;
}

.cards__card {
  text-align: left;
  background-color: #202a3c;
  border-radius: 0.5rem;
  padding: 2.5rem 2rem;
  z-index: 1;
  box-shadow: 10px 6px 8px 0px rgba(34, 60, 80, 0.2);
}
.cards__paragraph {
  margin-bottom: 1rem;
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  line-height: 1.8;
}
.cards__human-wrapper {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.cards__human {
  width: 3rem;
  border-radius: 50%;
}
.cards__human--name {
  font-size: 1rem;
  font-weight: 700;
}
.cards__human--position {
  font-size: 0.9rem;
  font-weight: 400;
}

.subscription__section {
  position: relative;
}
.subscription__wrapper {
  margin-bottom: 1rem;
}
@media (min-width: 810px) {
  .subscription__wrapper {
    width: 70%;
  }
}
.subscription__form {
  width: 100%;
}
@media (min-width: 810px) {
  .subscription__form {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
  }
}
.subscription__error {
  font-size: 1.2rem;
  margin-left: -4rem;
  color: #ff4242;
  visibility: hidden;
}
.subscription__email {
  background-color: white;
  width: 25rem;
  max-width: 60rem;
  border-radius: 5rem;
  border: 0.1rem solid transparent;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 810px) {
  .subscription__email {
    width: 100%;
    padding: 1.3rem;
  }
}

.footer {
  background-color: #0b1523;
  color: #d9d9d9;
  padding: 25rem 2rem 2rem;
}
@media (min-width: 1140px) {
  .footer {
    padding: 15rem 10rem 5rem;
  }
}
@media (min-width: 1140px) {
  .footer__info {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
  }
}
.footer__contacts {
  padding: 0 0 0 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.footer__location {
  position: relative;
  margin-bottom: 2rem;
  line-height: 2.5rem;
  max-width: 37rem;
}
@media (min-width: 680px) {
  .footer__location {
    padding-right: 5rem;
  }
}
.footer__location::before {
  content: url("./../images/icon-location.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__number {
  position: relative;
  margin-bottom: 2rem;
}
.footer__number::before {
  content: url("./../images/icon-phone.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__email {
  position: relative;
}
.footer__email::before {
  content: url("./../images/icon-email.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__menu {
  margin: 10rem 0;
}
@media (min-width: 680px) {
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1140px) {
  .footer__menu {
    margin: 0;
  }
}
.footer__list {
  margin-bottom: 5rem;
}
@media (min-width: 1140px) {
  .footer__list {
    margin: 0;
  }
}
.footer__item {
  margin-bottom: 1.5rem;
}
.footer__link {
  color: #d9d9d9;
  transition: all 0.3s;
}
.footer__link:hover {
  color: white;
  text-decoration: underline;
}
@media (min-width: 1140px) {
  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__social--list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__social--link:hover .footer__social--svg {
  border: 0.1rem solid #abfcf7;
}
.footer__social--link:hover .footer__social--svg path {
  fill: #abfcf7;
}
.footer__social--link svg {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.1rem solid white;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__social--svg path {
  fill: white;
}
.footer__attribution {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  padding: 0rem 0 1rem 0;
}
.footer__attribution-link:link, .footer__attribution-link:visited {
  text-transform: uppercase;
  color: #abfcf7;
  text-decoration: none;
  font-weight: 400;
}
.footer__attribution-link:hover, .footer__attribution-link:active {
  text-decoration: underline;
}

.container {
  color: white;
  padding: 3rem 2rem;
  text-align: center;
}
@media (min-width: 1140px) {
  .container {
    padding: 7rem 8rem;
  }
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__accessible {
  padding: 0;
}
@media (min-width: 1140px) {
  .container__suggestions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 7rem;
  }
}
@media (min-width: 1140px) {
  .container__productive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 10rem;
  }
}
.container__cards {
  position: relative;
  padding: 10rem 5rem 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 1140px) {
  .container__cards {
    flex-direction: row;
    padding: 10rem 13rem 35rem;
    gap: 4rem;
  }
}
.container__cards::before {
  content: url("./../images/bg-quotes.png");
  position: absolute;
  top: 7%;
  left: 10%;
  transform: scale(0.4);
}
@media (min-width: 810px) {
  .container__cards::before {
    top: 8%;
    left: 6%;
    transform: scale(0.6);
  }
}
@media (min-width: 1140px) {
  .container__cards::before {
    top: 10%;
    left: 8.4%;
    transform: scale(1);
  }
}
.container__subscription {
  background-color: #1c2431;
  position: absolute;
  top: -17rem;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media (min-width: 1140px) {
  .container__subscription {
    width: 60%;
    padding: 4rem 7rem;
  }
}

/*# sourceMappingURL=style.css.map */
