@use "../abstracts/index" as *;

.accessible {
  &__section {
    background-color: $color-testimonials--background;
  }

  &__picture {
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;

    @media (min-width: 810px) {
      max-width: 72rem;
      margin: 0 auto 3rem;
    }

    &--bg {
      margin-top: -34rem;
      margin-bottom: 30rem;

      @media (min-width: 1140px) {
        margin-top: -30rem;
        margin-bottom: 0;
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }
}
