@use "../abstracts/index" as *;

.accessible {
  &__section {
    background-color: $color-testimonials--background;
  }

  &__picture {
    position: relative;
    margin-bottom: 3rem;
    z-index: 1;
    @media (min-width: 810px) {
      max-width: 75rem;
      margin: 0 auto 10rem;
    }
    &--bg {
      margin-top: -40rem;
      margin-bottom: 30rem;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }
}
