@use "../abstracts/index" as *;

.container {
  color: $color-White;
  padding: 3rem 2rem;
  text-align: center;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__accessible {
  }

  &__suggestions {
  }

  &__productive {
    // padding: 0;
  }

  &__cards {
    position: relative;
    padding: 10rem 5rem 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &::before {
      content: url("./../images/bg-quotes.png");
      position: absolute;
      top: 8%;
      left: 14%;
      z-index: 0;
    }
  }

  &__subscription {
    background-color: $color-sign--background;
    position: absolute;
    top: -17rem;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
}
