@use "../abstracts/index" as *;

.footer {
  background-color: $color-footer--background;
  color: $color-silver;
  padding: 25rem 2rem 2rem;
  &__info {
  }

  &__contacts {
    padding: 0 0 0 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  &__location {
    position: relative;
    margin-bottom: 2rem;
    line-height: 2.5rem;
    max-width: 37rem;
    @media (min-width: 680px) {
      padding-right: 5rem;
    }

    &::before {
      content: url("./../../images/icon-location.svg");
      position: absolute;
      width: 1rem;
      height: 1rem;
      top: 0.5rem;
      left: -4rem;
    }
  }

  &__info-wrapper {
  }

  &__number {
    position: relative;
    margin-bottom: 2rem;

    &::before {
      content: url("./../../images/icon-phone.svg");
      position: absolute;
      width: 1rem;
      height: 1rem;
      top: 0.5rem;
      left: -4rem;
    }
  }

  &__email {
    position: relative;

    &::before {
      content: url("./../../images/icon-email.svg");
      position: absolute;
      width: 1rem;
      height: 1rem;
      top: 0.5rem;
      left: -4rem;
    }
  }

  &__menu {
    margin: 10rem 0;
    @media (min-width: 680px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__list {
    margin-bottom: 5rem;
  }

  &__item {
    margin-bottom: 1.5rem;
  }

  &__link {
    color: $color-silver;
    transition: all 0.3s;
    &:hover {
      color: $color-White;
      text-decoration: underline;
    }
  }

  &__social {
  }

  &__social--icons {
  }

  &__social--list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &__social--item {
  }
  &__social--link {
  }

  &__social--link svg {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid $color-White;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s;

    &:hover {
      border: 0.1rem solid $color-cyan;

      &--link svg path {
        fill: $color-cyan;
      }
    }
  }

  &__social--link svg path {
    fill: $color-White;
  }

  &__wrapper {
  }

  &__attribution {
    width: 100%;
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    text-align: center;
    margin: 0 auto;
    padding: 0rem 0 1rem 0;

    &-link:link,
    &-link:visited {
      text-transform: uppercase;
      //   color: $color-primary;
      text-decoration: none;
      font-weight: 400;
    }

    &-link:hover,
    &-link:active {
      //   color: $color-primary;
      text-decoration: underline;
    }
  }
}
