@use "../abstracts/index" as *;

.productive {
  &__section {
  }

  &__picture {
  }

  &__info-wrapper {
    position: relative;
    padding: 0 1rem;
    text-align: left;

    &::after {
      position: absolute;
      content: "";
      width: 17rem;
      height: 0.1rem;
      background-color: #65e2d9;
      bottom: -1rem;
      left: 1rem;
    }
  }

  &__link {
    color: $color-cyan;
    &--wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__arrow {
    width: 2rem;
  }
}
