@use "../abstracts/index" as *;

.productive {
  &__section {
  }

  &__picture {
    @media (min-width: 1140px) {
      width: 48%;
    }
  }

  &__info-wrapper {
    padding: 0 1rem;
    text-align: left;

    @media (min-width: 1140px) {
      width: 45%;
    }
  }

  &__link {
    color: $color-cyan;

    &--wrapper {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.5rem;
      border-bottom: 0.1rem solid #65e2d9;

      &:hover {
        border-bottom: 0.1rem solid $color-White;

        .productive__link {
          color: $color-White;
        }

        .productive__arrow {
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
        }
      }
    }
  }

  &__arrow {
    width: 2rem;
  }
}
