@use "../abstracts/index" as *;

.suggestions {
  &__section {
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
  }

  &__icon {
    width: 6rem;
  }
}
