@use "../abstracts/index" as *;

.button {
  color: $color-White;
  background: linear-gradient(to left top, $color-blue, $color-cyan);
  border: 0.1rem solid transparent;
  border-radius: 5rem;
  width: 23.5rem;
  padding: 1.5rem;

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      to left top,
      hsl(198, 85%, 69%),
      hsl(176, 93%, 83%)
    );
  }

  @media (min-width: 1140px) {
    width: 28rem;
    padding: 1.7rem;
    font-size: 1.6rem;
  }

  &__accessible {
  }

  &__subscription {
    width: 25rem;
    max-width: 25rem;
    @media (min-width: 1140px) {
      width: 20rem;
      padding: 1rem;
      font-size: 1.4rem;
    }
  }
}
