$color-sign--background: hsl(217, 28%, 15%);
$color-main--background: hsl(218, 28%, 13%);
$color-footer--background: hsl(216, 53%, 9%);
$color-testimonials--background: hsl(219, 30%, 18%);

$color-cyan: hsl(176, 68%, 64%);
$color-blue: hsl(198, 60%, 50%);
$color-error: hsl(0, 100%, 63%);
$color-White: hsl(0, 0%, 100%);

$font-primary: "Open Sans", sans-serif; // - Weights: 400, 700
$font-secondary: "Raleway", sans-serif; // - Weights: 400, 700
